@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


//@mixin screen($size){
//   @if $size == small{
//      @media (max-width:375px){
//         @content
//      }
//   }
//}

* {
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none;
   //@include screen(small){
      //background-color: #000;
   //}
}

body {
   font-family: "Roboto", "Roboto Slab", sans-serif;
   size: 20px;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
   padding:21px 85px 0px 84px;
	@media (max-width:835px){
		padding:22px 49.23px 0px 48.65px;
	}
	@media (max-width:376px){
		padding:36px 32.32px 0px 35px;
	}
}
.header {
display: grid;
margin-bottom: 29px;
padding-left: 37px;
@media (max-width:835px){
	margin-bottom: 0px;
	padding-left: 21px;
}
@media (max-width:376px){
	margin-bottom: 0px;
	padding-left: 0px;
}
		&__logo {
         margin-bottom: 94px;
			a{
				img{
					@media (max-width:835px){
						width: 65px;
					}
					@media (max-width:376px){
						width: 52.19px;
					}
				}
			}
			@media (max-width:835px){
				margin-bottom: 53px;
			}
			@media (max-width:376px){
				margin-bottom: 41px;
			}
		}

		&__info {
         display: grid;
         grid-template: 1fr / repeat(3,183px);
			@media (max-width:835px){
				grid-template: 1fr / repeat(3,107px);
			}
			@media (max-width:376px){
				grid-template: 1fr / repeat(3,86.6px);
			}
		}
}
.info {

		&__site {
         display: grid;
         grid-auto-flow:column;
         grid-template: 1fr / repeat(2,30px);
			@media (max-width:835px){
				grid-template: 1fr / repeat(2,17.5px);
			}
			@media (max-width:376px){
				grid-template: 1fr / repeat(2,14px);
			}
		}

		&__date {
         display: grid;
         grid-auto-flow:column;
         grid-template: 1fr / repeat(2,34px);
			@media (max-width:835px){
				grid-template: 1fr / repeat(2,19px);
			}
			@media (max-width:376px){
				@media (max-width:376px){
					grid-template: 1fr / repeat(2,14.2px);
				}
			}
		}

		&__time {
         display: grid;
         grid-auto-flow:column;
         grid-template: 1fr / repeat(2,33px);
			margin-left: -20px;
			@media (max-width:835px){
				grid-template: 1fr / repeat(2,20.5px);
				margin-left: -15px;
			}
			@media (max-width:376px){
				@media (max-width:376px){
					grid-template: 1fr / repeat(2,14px);
					margin-left: -11px;
				}
			}
         
		}
}
.site-img{
	@media (max-width:835px){
		width: 13px;
	}
	@media (max-width:376px){
		width: 10px;
	}
}
.site-text {
   font-size: 20px;
   width: 116px;
	@media (max-width:835px){
		padding-top: 2px;
		font-size: 12px;
	}
	@media (max-width:376px){
		font-size: 10px;
		padding-top: 0;
	}
}

.main {
   display: grid;
		&__movie {
			padding-left: 37px;
         display: grid;
         grid-template-columns: 0.83fr 305px;
			@media (max-width:835px){
				padding-left: 22px;
				grid-template-columns: 0.83fr 176.65px;
			}
			@media (max-width:376px){
				padding-left: 0;
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: repeat(2, auto);
			}
		}

		&__quote {
         padding-top: 65px;
         padding-right: 138px;
         display: flex;
         justify-content: center;
			@media (max-width:835px){
				padding-top: 36px;
         padding-right: 80px;
			}
			@media (max-width:376px){
				padding-top: 36px;
         padding-right: 80px;
			}
		}

		&__course {
   padding-top: 175px;
	padding-left: 37px;
	@media (max-width:835px){
		padding-top: 99px;
		padding-left: 22px;
	}
	@media (max-width:376px){
		padding-top: 76px;
		padding-left: 0px;
	}
		}

		&__format {
			padding-top: 161px;
			padding-left: 37px;
			@media (max-width:835px){
				padding-top: 90px;
				padding-left: 22px;
			}
			@media (max-width:376px){
				padding-top: 55px;
				padding-left: 0px;
			}
		}

		&__know {
			padding-left: 37px;
			padding-top: 219px;
			@media (max-width:835px){
				padding-top: 124px;
				padding-left: 22px;
			}
			@media (max-width:376px){
				padding-top: 78px;
				padding-left: 0px;
			}
		}

		&__program {
			padding-top: 227px;
			margin-bottom:126px;
			@media (max-width:835px){
				padding-top: 129px;
			margin-bottom:58px;
			}
			@media (max-width:376px){
				padding-top: 25.5px;
			margin-bottom:58px;
			}
		}
}
.movie {

		&__title {
         padding-top: 11px;
         font-family:"Roboto Slab";
font-weight: 700;
font-size: 80px;
line-height: 101.38%;
@media (max-width:835px){
	font-size: 46px;
}
@media (max-width:376px){
	font-size: 37px;
}
		}

		&__subtitle {
         padding-top: 17px;
font-size: 20px;
line-height: 150%;
max-width: 414px;
@media (max-width:835px){
	font-size: 12px;
	padding-top: 19px;
}
@media (max-width:376px){
	font-size: 10px;
	padding-top: 16px;
}
		}
		&__imges-movie {
         margin-top: -16px;
			@media (max-width:835px){
				margin-top: 6px;
				padding-right: 93px;
			}
			@media (max-width:376px){
				margin-top: 0px;
				padding-right: 0px;
				display: grid;
				justify-content: end;
			}
			img{
				min-width: 100%;
				@media (max-width:835px){
					width: 176.65px;
				}
				@media (max-width:376px){
					max-width: 141px;
					min-width: 141.68px;
				}
			}
		}
}
.quote-container {
background-color: #1E4681;
color: #fff;
max-width: 483.63px;
padding-bottom: 21px;
border-radius: 5px;
display: grid;
justify-items: end;
@media (max-width:835px){
	max-width: 280.11px;
padding-bottom: 16px;
}
@media (max-width:376px){
	width: 225.36px;
	padding-bottom: 12px;
	border-radius: 2.32986px;
}
}
.quote-container-top{
font-family: "Roboto Slab";
font-size: 25px;
padding:20px 28px 3px 23px;
line-height: 130%;
max-width: 430px;
@media (max-width:835px){
	font-size: 14px;
	padding:10px 20px 0px 15px;
}
@media (max-width:376px){
	font-size: 11px;
	padding:10px 0px 0px 13px;
}
}
.quote-container-bottom{
      padding:0px 17px 0px 0px;
		font-size: 20px;
		@media (max-width:835px){
			font-size: 12px;
			padding:3px 8px 0px 0px;
		}
		@media (max-width:376px){
			font-size: 10px;
			padding:3px 8px 0px 0px;
		}
}
.title{
	font-family: "Roboto Slab";
font-weight: bold;
font-size: 55px;
line-height: 101.38%;
@media (max-width:835px){
	font-size: 32px;
}
@media (max-width:376px){
	font-size: 26px;
}
}
.course {
	
	&__row-course-top {
		padding-top: 55px;
		display: grid;
		grid-template-columns: 0.957fr auto;
		@media (max-width:835px){
			padding-top: 32px;
			grid-template-columns: 1fr auto;
		}
		@media (max-width:376px){
			padding-top: 25px;
			grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(1, auto);
		}
	}

	&__row-course-bottom {
		padding-top: 71px;
		display: grid;
		grid-template-columns: 0.466fr auto;
@media (max-width:835px){
	padding-top: 40px;
	grid-template: 1fr / repeat(2,211px);
}
@media (max-width:376px){
	padding-top: 35px;
	grid-template: 1fr / repeat(1,238px);
}
	}
}
.row-course-top {

	&__text-course {
		max-width: 662px;
font-size: 24px;
line-height: 150%;
@media (max-width:835px){
	font-size: 14px;
	max-width: 383px;
}
@media (max-width:376px){
	font-size: 12px;
	max-width: 308.47px;
}
	}

	&__images-top {
		padding:23px 5px 0px 0px;
		@media (max-width:835px){
			padding:15px 25px 0px 0px;
		}
		@media (max-width:376px){
			padding:13px 2px 0px 0px;
			display: grid;
			justify-content: center;
		}
		img{
			@media (max-width:835px){
				width: 212px;
			}
			@media (max-width:376px){
				width: 170.55px;
			}
		}
	}
}
.text-course-bottom {
	padding-top: 36px;
	@media (max-width:835px){
		padding-top: 20px;
	}
	@media (max-width:376px){
		padding-top: 19px;
	}
}

.row-course-bottom {

	&__images-bottom {
		img{
			max-width: 232px;
			min-width: 135px;
			@media (max-width:835px){
				max-width: 135px;
			}
		}
		@media (max-width:376px){
			display: none;
		}
	}
	&__block-text-bottom {
		display: grid;
		grid-template-columns: 28% 28% 19%;
align-items: center;
padding-top: 6px;
@media (max-width:1023px){
	grid-template-columns: 29% 29.2% 19%;
}
@media (max-width:835px){
	grid-template: 1fr / repeat(3, 142px);
	padding-top: 5px;
}
@media (max-width:376px){
	grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 70px);
	padding-top: 0px;
}
	}
}
.block-text-bottom {
	&__text-bold {
font-weight: bold;
font-size: 25px;
line-height: 130%;
@media (max-width:1023px){
	font-size: 15px;
}
@media (max-width:835px){
	font-size: 15px;
}
@media (max-width:376px){
	font-size: 12px;
}
	}

	&__text {
		width: 150px;
		padding-top: 8px;
font-size: 18px;
line-height: 130%;
@media (max-width:1023px){
	font-size: 11px;
}
@media (max-width:835px){
	font-size: 11px;
	width: 90px;
	padding-top: 4px;
}
@media (max-width:376px){
	font-size: 10px;
}
	}
}

.format-row {
	padding-top: 125px;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px, 0.28fr));
	grid-row-gap: 10px;
	//grid-template: 1fr / repeat(3, 347px);
	@media (max-width:835px){
		padding-top: 74px;
		grid-template: 1fr / repeat(3, 200px);
	}
	@media (max-width:376px){
		padding-top: 34px;
		grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(3, auto);
	grid-row-gap: 20px;
	}
}
.format-column:first-child{
	.format-column-text{
		width: 220px;
		@media (max-width:835px){
			width: 140px;
		}
	}
}
.format-column:last-child {
	padding-left: 37px;
	@media (max-width:1106px){
		padding-left: 0px;
	}


	@media (max-width:835px){
		padding-left: 23px;
	}
	@media (max-width:376px){
		padding-top: 12px;
		padding-left: 0px;
	}
}
.format-column-text-bold {
font-weight: bold;
font-size: 25px;
line-height: 130%;
color: #1E4681;
@media (max-width:835px){
	font-size: 15px;
}
@media (max-width:376px){
	font-size: 12px;
}
}

.format-column-text {
	width: 271px;
	padding-top: 7px;
font-size: 18px;
line-height: 130%;
@media (max-width:835px){
	font-size: 11px;
	padding-top: 4px;
line-height: 126%;
	width: 172px;
}
@media (max-width:376px){
	font-size: 10px;
}
}


.know {

	&__list {
		padding: 57px 0px 0px 17px;
		@media (max-width:835px){
			padding:34px 0px 0px 10px;
		}
		@media (max-width:376px){
			padding:26px 0px 0px 9px;
		}
	}
}
.list-text {
font-size: 24px;
line-height: 150%;
@media (max-width:835px){
	font-size: 14px;
}
@media (max-width:376px){
	font-size: 12px;
}
}

.program-title{
	padding-left: 37px;
	@media (max-width:835px){
		padding-left: 22px;
	}
	@media (max-width:376px){
		padding-left: 0px;
	}
}
.containers{
	padding-top: 133px;
	display: grid;
grid-template-columns: 31.5% 31.5% 31.5%;
grid-column-gap: 37px;
grid-row-gap: 41px;
@media (max-width:835px){
	grid-template: 1fr / repeat(3,231px);
	grid-column-gap: 21px;
grid-row-gap: 23px;
padding-top: 75px;
}
@media (max-width:376px){
	grid-template-columns: repeat(1, 185.92px);
   grid-template-rows: repeat(8, auto);
	grid-row-gap: 21px;
	padding-top: 53px;
	padding-left: 60px;
}
&__container{
	img{
		width: 100%;
	}
	background: #FFFFFF;
box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
border-radius: 30px;
min-height: 328px;
@media (max-width:835px){
	min-height: 190px;
	border-radius: 17.375px;
}
}
}

.containers__container:nth-child(7){
	.container-text-bold{
		margin-top: 5px;
		@media (max-width:835px){
			margin-top: 3px;
		}
	}
}
.containers__container:nth-child(8){
	.container-text-bold{
		margin-top: 5px;
		@media (max-width:835px){
			margin-top: 3px;
		}
	}
	.container-text{
		margin-top: -29px;
		@media (max-width:835px){
			margin-top: -16px;
		}
	}
}

.program-block {
	padding-top: 130px;
	@media (max-width:835px){
		padding-top: 75px;
	}
}
.container-image:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px 30px 0px 0px;
@media (max-width:835px){
	border-radius: 15px 15px 0px 0px;
}
}
.container-image{
	@media (max-width:835px){
		width: 231px;
	}
}
.container-text-bold {
	padding:10px 0px 0px 20px;
font-weight: bold;
font-size: 30px;
line-height: 97%;
@media (max-width:835px){
	font-size: 17px;
	padding:7px 0px 0px 10px;
}
@media (max-width:376px){
	font-size: 14px;
}
}
.container-text {
	padding: 37px 0px 0px 19px;
font-size: 25px;
line-height: 130%;
@media (max-width:835px){
	font-size: 14px;
	padding:22px 0px 0px 10px;
}
@media (max-width:376px){
	font-size: 12px;
	padding:22px 0px 0px 10px;
}
}
/////////////////////////////////////////////////////



.feedback {
	background: #EFEFEF;
}
.feedback-title{
	padding-left: 37px;
	padding-top: 69px;
	@media (max-width:835px){
		padding-left: 22px;
		padding-top: 30px;
	}
}
.feedback-window {
	padding:70px 0px 113px 40px;
	max-width: 791px;
	@media (max-width:835px){
		padding:42px 0px 63px 25px;
	}
}
.feedback__container{
	background: #FFFFFF;
box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
display: flex;
flex-direction: column;
@media (max-width:835px){
	max-width: 458px;
	border-radius: 17.375px;
}
}
.feedback-text {
	padding:40px 46px 0px 45px;
	font-size: 20px;
line-height: 150%;
@media (max-width:835px){
	font-size: 12px;
	padding:24px 26px 0px 25px;
}
}
.feedback-row {
	padding-top: 35px;
	padding-left: 25px;
	padding-bottom: 27px;
display: grid;
grid-template: 1fr / repeat(2,220px);
align-items: center;
@media (max-width:835px){
	grid-template: 1fr / repeat(2,127px);
	padding:16px 0px 17px 15px;
}
a{
	width: 18px;
}
img{
	@media (max-width:835px){
		width: 110px;
	}
}
	&__feetback-column {
		display: grid;
		grid-auto-columns: 350px;
		img{
			@media (max-width:835px){
				width: 18.53px;
			}
		}
	}
}
.feetback-column-name {
	font-family: "Roboto Slab";
font-weight: bold;
font-size: 30px;
line-height: 101.38%;
padding-bottom: 27px;
@media (max-width:835px){
	font-size: 17px;
	padding-bottom: 16px;
}
}


.start {
	background: #9DC9C8;
	&__start-column {
		padding-left: 37px;
		padding-top: 65px;
		display: grid;
		@media (max-width:835px){
			padding-top: 38px;
			padding-left: 22px;
		}
	}
}
.start-title{
	padding-left: 37px;
	padding-top: 157px;
	@media (max-width:835px){
		padding:80px 0px 0px 22px;
	}
}
.start-column-text {
	font-size: 25px;
line-height: 101.38%;
@media (max-width:835px){
	font-size: 14px;
}
}
.start-column-price {
	padding-top: 5px;
	font-size: 80px;
line-height: 101.38%;
@media (max-width:835px){
	font-size: 46px;
	padding-top: 3px;
}
}
.start-column {

	&__start-row {
		padding-top: 74px;
		display: grid;
		grid-template: 1fr / repeat(2,300px);
		grid-column-gap: 63px;
		@media (max-width:835px){
			grid-template: 1fr / repeat(2,168px);
		grid-column-gap: 44px;
		padding-top: 43px;
		}
	}

}
.start-row-block {
	padding-bottom: 200px;
	@media (max-width:835px){
		padding-bottom: 118px;
	}
}
.start-row-block-title {
	font-size: 25px;
line-height: 101.38%;
@media (max-width:835px){
	font-size: 14px;
}
}
.start-row-block-subtitle {
	padding-top: 15px;
	font-size: 18px;
line-height: 101.38%;
@media (max-width:835px){
	font-size: 10px;
	padding-top: 10px;
}
}


.footer {
	background: #000000;
}
.footer-container{
	padding:28px 90px 0px 38px;
	display: flex;
	justify-content: space-between;
	@media (max-width:835px){
		padding:7px 55px 0px 22px;
	}
}
.footer-left {
	&__icons {
		display: grid;
		grid-template: 1fr / repeat(4,33px);
grid-auto-flow: row;
grid-column-gap: 20px;
		padding-top: 25px;
		@media (max-width:835px){
			grid-column-gap: 0px;
		padding-top: 14px;
		}
		img{
			@media (max-width:835px){
				width: 60%;
				margin-left: -2px;
			}
		}
	}
}
.footer-logo{
	img{
		@media (max-width:835px){
			width: 66.6px;
		}
	}
}
.footer-right {
	&__phone {
		display: flex;
		flex-direction: row;
		padding-top: 5px;
		@media (max-width:835px){
		padding-top: 0px;
	}
		img{
			margin-right: 21px;
			@media (max-width:835px){
				width: 16px;
				margin-right: 10px;
			}
		}
	}

	&__email {
		display: flex;
		flex-direction: row;
		padding-top: 20px;
		@media (max-width:835px){
			padding-top: 13px;
		}
		img{
			height: 18px;
			@media (max-width:835px){
				width: 16px;
				height: 10px;
			}
		}
	}
}
.phone-namber {
	color: #fff;
font-size: 25px;
line-height: 101.38%;
padding-top: 5px;
@media (max-width:835px){
	font-size: 14px;
}
}
.email-mail {
	color: #fff;
font-size: 25px;
line-height: 101.38%;
margin-left:20px;
padding-right: 3px;
@media (max-width:835px){
	font-size: 14px;
	margin-left: 12px;
}
}
.footer-footer {
	color: #fff;
	font-size: 18px;
line-height: 101.38%;
padding-top: 142px;
padding-left: 39px;
padding-bottom: 45px;
@media (max-width:835px){
	font-size: 10px;
	padding-left: 22px;
	padding-top: 79px;
	padding-bottom: 25px;
}
}







